mixin createPostForm(userLoggedIn)
    .postFormContainer  
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="user's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="what's happening")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post